
/* body{
  margin-bottom: 100px;
} */
.back-color{
  background-color: pink !important;
}

#main_content{
  margin-top: 20px;
}

#content_card{
  max-height: 300px;
}

#main_img{
  opacity: 30%;
}

footer{
  height: 20%;
}

article{
  margin-top: 20px;
  margin-bottom: 20px;
}

.article_sec{
  margin-top: 10px;
  margin-bottom: 10px;
}
