div p{
  background-color: yellow;
}
section p{
  background-color: pink;
}
/* h2 must be a sibling of h1 */
h1~h2{
  background-color: green;
}

#class_css_exercise{
  color:blue;
}

#the_flag{
  /* border: 10px green solid; */
  display: inline-block;
  margin-bottom: -4px;
  /* box-sizing: border-box; */
}
.flag{
  display: inline-block;
  width: 50px;
  height: 100px;
  margin-bottom: -4px;
}
#blue{
  background-color: blue;
}
#white{
  background-color: white;
}
#red{
  background-color: red;
}
