
body{
  background-color: pink !important;
}

#subject{
  color:red;
}
#brandon{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: red;
}

#foot-list{
  text-decoration: none;
}
