
.back-color{
  background-color: pink !important;
}

#subject{
  color:red;
}
#brandon{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  color: red;
}

#foot-list{
  text-decoration: none;
}

.sec-item{
  /* width: 27%; */
  margin-left: 3%;
  margin-right: 3%;
}
/* #sec{
  height: 65%;
}
#sign-up{
  margin-right: 10%;
  float: left;
}

#sec2{

  float: left;

}
#sec2::after{
  content: none;
} */
