
*{
  box-sizing: border-box;
  margin: 0px;
  /* padding: 0px; */

}
#header{
  height: 100px;
  background-color: yellow;
}

nav li{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}

#sign{
  position: absolute;
  right: 0px;
  top: 0px;
}
